<!DOCTYPE html>
<html ng-app="crudApp">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Node Tutorial</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="css/style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="js/main.js" type='text/javascript'></script>
</head>
<body ng-controller="SampleCntrl">
    <h1> Let's Learn Node.JS from {{name}} </h1>
    <div>
        <input type="text" name="user" ng-model="newUser" placeholder="Add a new user"/>
        <button id="btnAddUser" ng-click="addUser();">Add</button>

        <h3 ng-if="users.length > 0">List of users</h3>
        <h3 ng-if="users.length <= 0">No users added yet..</h3>
        <div id="listOfUsers" ng-repeat="user in users" class="content-container">
            <div class="userAlignment">{{user.name}}</div>
            <div class="btn-container">
                <button ng-click="deleteUser(user)">Delete</button>
                <button ng-click="editUser(user)">Edit</button>
            </div>
            
        
        </div>
    </div>
</body>
</html>